

.menu {
    position: fixed;
    display: none;
    min-width: 100px;
    background: #252525;
    border: 2px solid #4a4a4a;
    border-radius: 10px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.35);
    padding: 6px;
    z-index: 9999;
}

.menu-item {
    padding: 2px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.menu-item:hover {
    background: #3a3a3a;
}