body {
    background-color: var(--background-color);
    font-family:
        "Segoe UI",
        "Inter",
        "Roboto",
        "Helvetica Neue",
        Arial,
        system-ui,
        -apple-system,
        sans-serif;

    font-size: 14px;
    font-weight: 400;
    color: #e6e6e6;
}

.text-align-center {
    display: flex;
    /* horizontal */
    justify-content: center;
    /* vertical */
    align-items: center;
}

.StreamdeckTitle {
    position: absolute;
    width: var(--size-buttonpanel-width);
    height: calc(var(--size-buttonpaneltitle-height) - var(--size-buttonpaneltitle-height-gap));
    left: calc(50% - (var(--size-buttonpanel-width) / 2));

    top: calc(50% - (var(--size-buttonpanel-height) / 2) + calc(var(--size-buttonpaneltitle-height) / -2));
    background-color: var(--app-background-color-primary);
    border-radius: var(--radius-md);
    outline: 3px solid rgb(113, 112, 121);
    font-size: 24pt;

    z-index: 1;
}

.StreamdeckButtonSelection {
    position: absolute;
    width: var(--size-buttonpanel-width);
    height: var(--size-buttonpanel-height);
    left: calc(50% - (var(--size-buttonpanel-width) / 2));
    top: calc(50% - (var(--size-buttonpanel-height) / 2) + calc(var(--size-buttonpaneltitle-height) / 2));
    background-color: var(--app-background-color-primary);
    border-radius: var(--radius-md);
    outline: 3px solid rgb(113, 112, 121);
    align-items: center;
    justify-content: center;
    /* horizontal alignment */
    display: flex;
    flex-wrap: wrap;
    /* allows wrapping to next line */
    gap: 10px;
    /* spacing between items */
}

.StreamdeckButton {
    margin: 0px;
    width: 64px;
    height: 64px;
    background-color: var(--streamdeck-button-color);
    border-radius: var(--radius-md);
    outline: 3px solid rgb(113, 112, 121);
}

.StreamDeckButtonText {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}